# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Media uploads (user profiles, post banners)
media/
staticfiles/

# Virtual Environment
venv/
ENV/
env/

# IDE / Editor configuration
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables
.env
.env.local
